---
layout: default
---

<div class="container">
    <div class="section center-align">
      <h1>404</h1>

      <strong>Wir haben nicht, was du suchst</strong><br>
      Aber wir haben diesen Würfel
      <div id="3d-logo" style="margin: auto; width: 400px; height: 400px; color: #0e9a48ff;"></div>
    </div>
    <script src="{{ "/assets/three.min.js" | absolute_url }}"></script>
    <script src="{{ "/assets/GLTFLoader.min.js" | absolute_url }}"></script>
    <script src="{{ "/assets/fabcube.js" | absolute_url }}"></script>
    <script type="text/javascript">initcube();</script>
</div>
