  <footer class="page-footer primary-color white-text">
    <div class="container" style="font-size: 32px;">
      <div class="row" style="text-align: center;">
        <div class="col l3 m4 s6" style="padding: 12px 0px;">
          <a href="mailto:info@fablab-allgaeu.de" title="E-Mail schreiben"><i class="fas fa-at"></i></a>
        </div>
        <div class="col l3 m4 s6" style="padding: 12px 0px;">
          <a href="https://gitlab.com/fablab-allgaeu" title="GitLab" target="_blank"><i class="fab fa-gitlab"></i></a>
        </div>
        <div class="col l3 m4 s6" style="padding: 12px 0px;">
          <a href="http://lists.fablab-allgaeu.de/cgi-bin/mailman/listinfo" title="Mailing Liste" target="_blank"><i class="fas fa-envelope"></i></a>
        </div>
        <div class="col l3 m4 s6" style="padding: 12px 0px;">
          <a href="https://www.facebook.com/fablaballgaeu" title="Facebook" target="_blank"><i class="fab fa-facebook"></i></a>
        </div>
        <div class="col l3 m4 s6" style="padding: 12px 0px;">
          <a href="https://www.instagram.com/fablaballgaeu/" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="col l3 m4 s6" style="padding: 12px 0px;">
          <a href="https://t.me/joinchat/CvEbEA2WqAEv1-AhV7Hp9g" title="Telegram"><i class="fab fa-telegram-plane"></i></a>
        </div>
        <div class="col l3 m4 s6" style="padding: 12px 0px;">
          <a href="/feed.xml" title="RSS-Feed"><i class="fas fa-rss"></i></a>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div>
                Aussehen von <a target="_blank"  href="https://materializecss.com" class="orange-text text-lighten-3">Materialize</a>,
                gebaut mit <a target="_blank" href="https://jekyllrb.com/" class="orange-text text-lighten-3">Jekyll</a>, 
                Icons von <a target="_blank" href="https://github.com/FortAwesome/Font-Awesome" class="orange-text text-lighten-3">FontAwesome (CC BY 4.0)</a>,
                gehostet bei <a target="_blank" href="https://about.gitlab.com/features/pages/" class="orange-text text-lighten-3">GitLab Pages</a>
                und natürlich ohne Cookies!
            </div>
	    <div class="row">
              <div class="col l3 m3 s3"></div>
              <div class="col l3 m3 s3">
		    <a class="orange-text text-lighten-3" href="/datenschutz">Datenschutz</a>
	      </div>
              <div class="col l3 m3 s3">
		    <a class="orange-text text-lighten-3" href="/impressum">Impressum</a>
	      </div>
              <div class="col l3 m3 s3"></div>
	    </div>
        </div>
    </div>
</footer>
