<nav class="primary-color" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" class="brand-logo" href="{{ "/" | relative_url }}">{{ site.title }}</a>
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

          <ul class="right hide-on-med-and-down">
            <li {% if page.url == "/" %} class="active" {% endif %}><a href="{{ "/" | relative_url }}">Home</a></li>
            <li {% if page.url == "/ausstattung/" %} class="active" {%endif %}><a href="{{ "/ausstattung/" | relative_url }}">Ausstattung</a></li>
            <li {% if page.url contains "/blog/" %} class="active" {% endif %}><a href="{{ "/blog/" | relative_url }}">Blog</a></li>
            <li {% if page.url == "/verein/" %} class="active" {%endif %}><a href="{{ "/verein/" | relative_url }}">Verein</a></li>
            <li {% if page.url == "/sponsoren/" %} class="active" {%endif %}><a href="{{ "/sponsoren/" | relative_url }}">Sponsoren</a></li>
	    <li><a href="https://gitlab.com/fablab-allgaeu/" target="_blank"><div class="valign-wrapper">Projekte<i class="material-icons" style="font-size: 1.2em;">launch</i></div></a></li>
          </ul>

          <ul id="nav-mobile" class="side-nav">
            <li {% if page.url == "/" %} class="active" {% endif %}><a href="{{ "/" | relative_url }}">Home</a></li>
            <li {% if page.url == "/ausstattung/" %} class="active" {%endif %}><a href="{{ "/ausstattung/" | relative_url }}">Ausstattung</a></li>
            <li {% if page.url contains"/blog/" %} class="active" {% endif %}><a href="{{ "/blog/" | relative_url }}">Blog</a></li>
            <li {% if page.url == "/verein/" %} class="active" {%endif %}><a href="{{ "/verein/" | relative_url }}">Verein</a></li>
            <li {% if page.url == "/sponsoren/" %} class="active" {%endif %}><a href="{{ "/sponsoren/" | relative_url }}">Sponsoren</a></li>
	    <li><a href="https://gitlab.com/fablab-allgaeu/" target="_blank"><div class="valign-wrapper">Projekte<i class="material-icons" style="font-size: 1.2em;">launch</i></div></a></li>
          </ul>

      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
