<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{% include head.html %}


<body onload="updateNextMeetingDate()">

  {% include header.html %}

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center">{{ site.title }}</h1>
        <div class="row center">
          <h5 class="header col s12">Das FabLab Allgäu bietet euch eine High-Tech-Werkstatt in der Ihr eure Ideen
            verwirklichen könnt.
          </h5>
        </div>
        <br>
        <br>
      </div>
    </div>
    <div class="parallax"><img src="{{ "/assets/background1.jpg" | relative_url }}" alt="Unsplashed background img 1">
    </div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 m6 l4">
          <div class="icon-block">
            <h2 class="center green-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Projektgruppen</h5>

            <p class="light">Die Projekte im FabLab werden in selbstorganisierten Gruppen entworfen und entwickelt.
              Meist geht es um Verbesserungen für das Labor, Vorbereitungen auf Workshops oder generellen Nerdstuff.</p>
          </div>
        </div>

        <div class="col s12 m6 l4">
          <div class="icon-block">
            <h2 class="center green-text"><i class="material-icons">meeting_room</i></h2>
            <h5 class="center">Offener Montag</h5>

            <p class="light">
            Jeden Montag treffen wir uns ab 18 Uhr im Makerspace des Jugendhauses in Landwehrstraße 2, 87439 Kempten.
            Bitte einfach klingeln oder kurz in die <a href="https://t.me/joinchat/CvEbEA2WqAEv1-AhV7Hp9g" title="Telegram">Telegram Gruppe</a> schreiben.
            </p>
          </div>
        </div>

        <div class="col s12 m6 l4">
          <div class="icon-block">
            <h2 class="center green-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Workshops</h5>

            <p class="light">In unseren Workshops führen wir unsere Teilnehmer in neue Technologien ein oder bauen
              vorbereitete Projekte auf. Wir legen großen Wert darauf unseren Teilnehmern Wissen und Techniken
              verständlich zu vermitteln.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="{{ "/assets/background4.jpg" | relative_url }}" alt="Unsplashed background img 2">
    </div>
  </div>

  <div class="container">
    <div class="section no-pad-bot">
      <div class="row">

        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Bleib in Kontakt</h4>
          <p class="left-align light">Wenn wir dein Interesse geweckt haben,
            dann melde dich doch einfach auf einem der unten angezeigten Kontaktmöglichkeiten.
        </div>

        <div class="row center">
          <a href="mailto:info@fablab-allgaeu.de" id="download-button"
            class="btn-large waves-effect waves-light green lighten-1">Kontakt aufnehmen</a>
        </div>

      </div>
    </div>
  </div>

  <div class="parallax-container">
    <div id="map" class="map map-home" style="height: 380px;"></div>
  </div>


  {% include footer.html %}
  {% include script.html %}
</body>

</html>
