---
layout: default
---
<div class="container blog-container">
  <div class="card white basic">
    {% if page.header_img %}
    <div class="card-image">
      <img src="{{ page.header_img | relative_url }}">
      <span class="card-title white-text" style="text-shadow: 1px 1px 5px #000"><h2>{{ page.title }}</h2></span>
    </div>
    {% endif %}
    <div class="card-content">
      {% unless page.header_img %}
      <div class="card-title"><h2>{{ page.title }}</h2></div>
      {% endunless %}
      <div class="section">
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" style="padding: 0px 3px 0px 3px;">{{ page.date | date: "%-d. %b %Y" }}</time>
          {% if page.author %}<div class="left valign-wrapper" style="padding: 0px 3px 0px 3px;"><i class="material-icons">person</i><span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span></div>{% endif %}
        {% for category in page.categories %}<span class="new badge" data-badge-caption="">{{ category }}</span>{% endfor %}
      </div>
      <div class="divider"></div>
      <div class="section">
        {{ content }}
      </div>
    </div>
  </div>
</div>
